body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    height: 6%;
    background-color:  #1c2128;
    color: white;
    display: flex;
    justify-content: space-between; /* Распределение пространства между левой и правой группами */
    align-items: center;
    padding: 0 5px;
}

.navbar-left, .navbar-right {
    display: flex;
}

.nav-item {
    background-color: #373c44;
    border-radius: 5px; /* Скругление углов */
    transition: background-color 0.3s; /* Плавное изменение фона */
    margin: 5px 5px; /* Отступы сверху и снизу, и по 10px слева и справа */
    padding: 8px;
    position: relative; 
}

.dropdown-content {
    display: none;
    position: absolute;
    white-space: nowrap;
    left: 0; /* Выравниваем меню строго под 'Explore' */
    top: 100%; /* Позиционируем меню сразу под элементом 'Explore' */
    background-color: #373c44;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 0; /* Убедимся, что нет дополнительного верхнего поля */
    padding: 0; /* Убираем внутренние отступы у списка, если они были */
}

.dropdown-content li {
    color: white;
    font-size: small;
    padding: 12px 16px; /* Поддерживаем отступы для визуального комфорта внутри пунктов меню */
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content li:hover {
    background-color: #f1f1f1; /* Цвет фона при наведении на пункт меню */
}

.nav-item:hover .dropdown-content {
    display: block; /* Показать дропдаун при наведении на 'Explore' */
}

.share img {
    filter: brightness(0) invert(1); 
    height: 16px;
    width: auto; /* сохраняет пропорции иконки */
    margin-right: 5px;
}

/* Убираем удвоенный марджин между элементами */
.nav-item:not(:last-child) {
    margin-right: 10px; /* Только для элементов кроме последнего в группе */
}

.nav-item:not(:first-child) {
    margin-left: 0; /* Убираем левый марджин у всех элементов кроме первого */
}

.nav-item:hover, .nav-item:active {
    background-color: #4a515a; /* Светлее при наведении или активации */
}

.main-content {
    display: flex;
    height: 90%;
}

.left-panel, .right-panel, .center-panel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-panel, .right-panel {
    width: 20%;
    background-color: #f8f9fa;
}

.center-panel {
    width: 60%;
    background-color: #e9ecef;
}

.left-panel {
    background-color: #6c757d; /* Добавим разные цвета для наглядности */
}

.right-panel {
    background-color: #adb5bd; /* Добавим разные цвета для наглядности */
}